body {
  color: #fff;
  background-color: #303030;
  font-size: 1.5rem;
  font-family: Roboto,sans-serif;
}

main {
  margin: auto;
  width: 800px;
  line-height: 1.5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
